html {
    font-family: sans-serif;
    color: #3d3d3d;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    align-items: center;
    justify-content: center;
}

button {
    background-color: #c72222;
    padding: 10px 20px;
    border: 0px solid #c72222;
    color: white;
    font-weight: bold;
}

.correct-answer {
    background-color: #079400;
}

.incorrect-answer {
    background-color: #d40e00;
}

form div {
    margin: 5px 0;
}